@media (min-width: 769px) {

.btn-menu {
  display: none;
}

.nav-desktop {
  display: flex;
  gap: 62px;
} 

.nav-desktop a {
  color: #fff;
  opacity: 0.5;
  font-size: 18px;
  transition: 0.2s;
}

.nav-desktop a:hover {
  opacity: 1;

}

header {
  padding: 50px;
  background-color: #F15156;
}

.friends {
  align-items: center;
  flex-direction: row;
}

.avatars {
  display: inline-flex;
}

.title-square {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  gap: 50px;
}

.title {
  padding-top: 20px;
}

.title h1 {
  margin: 20px 0 10px 0;
}

.title h4 {
  display: contents;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  width: 407px;
}

#home {
  overflow: hidden;
  height:640px;
}

.karamelo {
  display: grid;
  grid-template-areas: 
  'A B'
  'C B'
  'D E';

  position: relative;
  bottom: -40px;
}

.karamelo :nth-child(4).square,
.karamelo :nth-child(5).square {
  display: block;
}

.karamelo :nth-child(1).square {
  grid-area: B;
  height: 100%;
  border-radius: 20px 0 0 20px;
  transform: translateX(78%)
}

.karamelo :nth-child(2) {
  grid-area: A;
  width: 180%;
}

.karamelo .dog {
 position: relative;
 left: 50%;
 transform: translate(-50%, -77px);
}


.square button {
  transform: translateY(-40px);
  cursor: pointer;
  transition: filter 0.2s;
  width: 80% !important;
}

.square button:hover {
  filter: brightness(0.9);

}

.karamelo :nth-child(3) {
  grid-area: C;
  height: 110px;
  width: 180%;
  border-radius: 20px !important;
}

.karamelo :nth-child(4) {
  grid-area: D;
  border-radius: 20px 20px 0 0;
  width: 180%;
}

.karamelo :nth-child(5) {
  grid-area: E;
  border-radius: 20px;
  transform: translateX(78%)
}


.menu-itens-desktop {
  display: contents;

}


/* *************** SECTION ABOUT *************** */

.animals {
  grid-template-areas:
  'A B'
  'C C';
  gap: 32px;
}

.box {
  width: 100%;
}

.box-app {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  margin: 0 50px;;

}

.app {
  border-radius: 20px;
  align-self: center;
}

h2 {
  font-size: 48px;
}

.animals:nth-child(1) {
    grid-area: A;
}

.animals:nth-child(2) {
    grid-area: B;
}

.animals :nth-child(3) {
  grid-area: C;
  max-width: 100%;
}

.app {
  border-radius: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

#about img {
  transform: none;
}

.app img:first-child {
  display: none;
}

.app img:nth-child(2) {
  position: inherit;
  top: 25%;
  z-index: 3;
  width: 110%;
}

.app img:nth-child(3) {
  position: absolute;
  opacity: 0.6;
  z-index: 2;
  width: 95%;
}

.app img:last-child {
  position: inherit;
  z-index: 1;
  opacity: 0.3;
  width: 80%;
  bottom: 20%;
}


/* *************** SECTION PETS *************** */


.container-carousel {
  padding: 6.25rem 6.25rem 70px 6.25rem;
  display: grid;
  gap: 50px;
  width: 100%;
  height: 43.75rem;
}

.texts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6.25rem
}

h3 {
  font-size: 48px;
  margin: 0 auto;
  text-align: initial;
}

.button-carousel {
  display: flex;
  align-items: center;
}

#pets span {
  max-width: 31.25rem;
  margin: 10px 0 0 0;
}

#pets .access {
  cursor: pointer;
  width: 14.375rem;
  min-height: 4.375rem;
  margin: 0;
  border-radius: 20px;
  font-size: 20px;
  transition: filter 0.2s;
}

#pets button:hover {
  filter: brightness(0.9);

}

#pets .embla button {
  display: grid;
  border-radius: 20px;
  width: 72px;
  height: 72px;
  margin: 0;
}



.embla {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-right: 65px;
}

.embla-slide {
  max-width: 24rem;
  height: 16.3125rem;
}

#pets img {
  height: 12rem;
}

#pets p {
  font-size: 24px;
  font-weight: 700;

}

.embla-viewport {
  width: 384px;
  overflow: hidden
}

}