* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smothing: antialiased;
  --moz-osx-font-smothing: grayscale;

  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

.element-hidden {
  display: none;
}