body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
}

/* *************** SECTION HOME *************** */


#home {
  background-color: #F15156;
  height: 792px
}

header {
  background-color: #E44449;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


.menu-mobile .menu-itens-mobile{
  width: 100vw;
  background-color: #E44449;
  border-radius: 0 0 20px 20px;
  display: grid;
  padding: 28px 20px;
  gap: 10px;
  position: absolute;
  z-index: 1
}

.menu-mobile ul {
  list-style: none;
}

.menu-mobile a {
  color: #fff;
  text-decoration: none;
}

.friends {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 20px;
  padding-top: 52px;
}


.title span {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  margin-left: 3px;
}

.title img + img {
  margin-left: -15px
}

.title h1 {
  margin: 20px 0 60px 0;  color: #FFF;
  font-size: 44px;
  max-width: 280px;
}

h4 {
  display: none;
}

.karamelo {
  display: flex;
  gap: 20px
}

.karamelo .square:first-child {
  border-radius: 0 20px 20px 0
}

.karamelo .square:nth-child(2){
  background: linear-gradient(153.09deg, #F36A6F 17.23%, #E44449 73.77%);
}
.karamelo .square:nth-child(3) {
  border-radius: 20px 0 0 20px
}

.karamelo .square:nth-child(4),
.karamelo .square:nth-child(5) {
  display: none;
}


.karamelo .dog {
  width: 279px;
  transform: translateY(-77px);
}

.square {
  width: 279px;
  height: 256px;
  background-color: #E44449;
  border-radius: 20px
}

button {
  background-color: #fff;
  height: 55px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0D3B66;
  font-weight: 800;
  margin: 0 auto;
  text-decoration: none;
  border: none;
}

.square button {
  transform: translateY(-150px);
  width: 239px;
}

/* *************** SECTION ABOUT *************** */

#about {
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
  margin: 7rem 0;
  align-items: center;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  color: #0D3B66;
  letter-spacing: -0.05em;
  margin: 10px 20px 10px 20px;
  text-align: center;

}

p {
  font-size: 14px;
  margin: 0 30px;
}

.box {
  width: 280px;
  height: 190px;
  border-radius: 20px;
  border: 1px solid rgba(241, 81, 86, 0.3);
  background: #FDECED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.box span {
  font-size: 32px;
  margin-left: 20px;
}

.animals {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.app {
  width: 100%;
  height: 284px;
  background: linear-gradient(180deg, #FDECED 0%, rgba(253, 236, 237, 0) 100%);
  display: flex;
  justify-content: center;
  margin-top: 90px;

}
#about img {
  transform: translateY(-50px);
  height: 348px;
  width: 100%;
} 

@media(max-width: 767px) {
  .app :nth-child(2),
  .app :nth-child(3),
  .app :last-child {
    display: none;
  }
}

/* *************** SECTION PETS *************** */

#pets {
  padding: 20px;
  overflow: hidden;
}

.container-carousel {
  padding: 60px 32px;
  background: #F15156;
  border-radius: 20px;
}

h3 {
  font-size: 30px;
  font-weight:700;
  color: #F4D35E;
  margin-bottom: 40px;
  text-align: center;
}

#pets span {
  color: #fff;
  margin: 40px 0 20px 0;

}

#pets button{
  margin: 20px auto 30px auto;
  width: -webkit-fill-available;
}

.embla {
  overflow: initial;
}

.embla-container {
  display: flex;
  gap: 10px;
}

.embla-slide {
  flex: 0 0 100%;
  min-width: 0;
  max-width: 256px;
  min-height: 174px;
  cursor: grab;
  background-color: #fff;
  border-radius: 18px;
}

.embla-slide:active {
  cursor: grabbing;
}

#pets img {
  width: 100%;
}

#pets p {
  font-size: 16px;
  color: #0D3B66;
  text-align: center;
  margin-top: 10px;

} 

.embla-prev,
.embla-next {
  display: none;
}

/* *************** SECTION CREW *************** */

#crew {
  overflow: hidden;
  padding: 20px;
}

#crew .embla-container {
  display: flex;
  gap: 20px;
}

#crew .embla-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FDECED;
  padding: 10px 10px 0 10px;
  border: 1px solid rgba(241, 81, 86, 0.30);
}


#crew h3 {
  color: #0D3B66;
  font-size: 18px;
  margin: 20px 0 5px 0
}

#crew span {
  color: #0D3B66;
  font-size: 18px;
  margin-bottom: 20px;

}

.contact {
  background: #0D3B66;
  border-radius: 10px;
  margin-top: 50px;
  overflow: hidden;
  
}

.images {
  width: 108.188px;
  height: 146.542px;
  display: flex
}

.images img:nth-child(1) {
  width: 200%;
  transform: translate(10px, -43px);
  
}

.images img:nth-child(2) {
  transform: translate(-92px, -22px);
  width: 160%;
}

.text-contact {
  margin-left: 30px;
}

.contact h2 {
  margin: 0;
  text-align: initial;
  color: #FFF;
}

.email {
  display: flex;
  align-items: center;
  margin: 20px 0 70px 0;
}

.contact p {
  color: #F4D35E;
  margin: 0 5px;
}

/* *************** FOOTER *************** */


footer {
  background: #E44449;
  height: 190px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin-top: 15px;

}

  footer span {
    color: #fff;
    font-size: 14px
  }